{% extends 'base.html' %}
{% block main-content %}
    <div class="row">
        <div class="col-md-10">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">{{ title }}
                            <span class="text-primary">{{ user }}</span><br><hr>
                            <span class="text-secondary">{{ user.userprofile.cnic }}</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        {% include 'account/partials/form.html' with form=form show_help_text="True" %}

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
{% endblock %}
{% block extra_js %}
   {% if messages %}
        {% for message in messages %}
            <script>
                showNotification("", "{{message}}", "{{ message.tags }}", "fa fa-check")
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}